# RBIR [![](https://img.shields.io/discord/1283371436773212212?logo=discord&label=discord)](https://discord.gg/SshxvYpn)

`RBIR` stands for **Rewrite Bigdata in Rust**. RBIR aims to create a big data ecosystem using Rust.

This project declares our manifesto and serves as a collection of RBIR projects and posts for anyone interested in joining this journey.

## Projects

{% for v in project -%}
- [{{ v.name }}](./projects/{{ v.name | to_snack_case }}.md) [![github-repo](https://img.shields.io/badge/open-repo-blue)]({{ v.repo }}) [![start-contribute](https://img.shields.io/badge/start-contribute-blue)]({{ v.repo }}/contribute)

  {{ v.description }}
{% endfor %}

## Libraries

{% for v in library -%}
- [{{ v.name }}](./libraries/{{ v.name | to_snack_case }}.md) [![github-repo](https://img.shields.io/badge/open-repo-blue)]({{ v.repo }}) [![start-contribute](https://img.shields.io/badge/start-contribute-blue)]({{ v.repo }}/contribute)

  {{ v.description }}
{% endfor %}

## Posts

{% for v in post -%}
- [{{ v.title }}]({{ v.link }}) by {{ v.author }}
{% endfor %}
